# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# XCode build files
*.build
cmake_install.cmake
CMakeCache.txt
CMakeFiles/*.*
CMakeScripts/*.*
.DS_Store
Dependencies/glfw/CMakeScripts/*.*
Dependencies/glfw/GLFW.xcodeproj/*.*
Silk.xcodeproj/


